<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">                
                <img src="../img/avatar/avatar.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150">    
                <hr>             
                <p class="text-faded">I'm a programer with 2 years game development experience. Life is continuous learning process, so work makes me more rigorous, reading makes my life more colorful. I may not have a superpower but i am a game programer and that's close enought.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                                                
            </div>
        </div>
    </div>
</section>
