<section id="career">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Career</h2>                    
                    <hr class="primary">
                    <br>
                    <br>
                    <h3 class="section-subheading text-muted">The Journey So Far</h3>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/uit_2015.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2011</h4>
                                    <h4 class="subheading">#1 The Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Become a student of University of Information and Technology!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/guava7.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct 2014</h4>
                                    <h4 class="subheading">#2 First Challenge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Start work at Guava7 - a startup game studio and make cool games</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/graduation.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jun 2016</h4>
                                    <h4 class="subheading">#3 A Turning Point</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated from university and started my IT technology tour.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/genix.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2016 - Now</h4>
                                    <h4 class="subheading">#4 Phoenix Reborn</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Work at Genix Lab and create amazing games!</p>
                                </div>
                            </div>
                        </li>                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>