<section class="no-padding" id="portfolio">
     <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">     
                <h2 class="section-heading">My Projects</h2>   
                <hr class="primary">
                <br>
                                       
            </div>
        </div>
     </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="http://www.fancycatsgame.com/" class="portfolio-box">
                    <img src="/img/portfolio/fancycats.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>                            
                            <div class="project-name">
                                Fancy Cats
                            </div>
                            <br>                            
                            <div class="project-category text-faded">
                                Company
                            </div>
                            <div class="project-name">
                                Genix Lab
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Team size
                            </div>
                            <div class="project-name">
                                10
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://drive.google.com/open?id=0BwBNythVqRR-MGgyb29RYVlrb00" class="portfolio-box">
                    <img src="/img/portfolio/dragon.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>                            
                            <div class="project-name">
                                Race of Dragons
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Team
                            </div>
                            <div class="project-name">
                                My Project
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Team size
                            </div>
                            <div class="project-name">
                                1
                            </div>
                        </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="http://www.fancydogsgame.com/" class="portfolio-box">
                    <img src="/img/portfolio/fancydogs.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>                            
                            <div class="project-name">
                                Fancy Dogs
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Company
                            </div>
                            <div class="project-name">
                                Genix Lab
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Team size
                            </div>
                            <div class="project-name">
                                10
                            </div>
                        </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://www.microsoft.com/en-us/store/p/sweet-madness/9nblggh39hzx" class="portfolio-box">
                    <img src="/img/portfolio/sweetmadness.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>                            
                            <div class="project-name">
                                Sweet Madness
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Company
                            </div>
                            <div class="project-name">
                                Guava7
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Team size
                            </div>
                            <div class="project-name">
                                5
                            </div>
                        </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://drive.google.com/open?id=0BwBNythVqRR-YThDVkxOckozVFE" class="portfolio-box">
                    <img src="/img/portfolio/gamejame.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>                            
                            <div class="project-name">
                                Weird Machine
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Team
                            </div>
                            <div class="project-name">
                                LittleGames
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Team size
                            </div>
                            <div class="project-name">
                                4
                            </div>
                        </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://play.google.com/store/apps/details?id=com.genixgames.daily2048" class="portfolio-box">
                    <img src="/img/portfolio/daily2048.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game
                            </div>                            
                            <div class="project-name">
                                2048 Daily Challenges
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Company
                            </div>
                            <div class="project-name">
                                Genix Lab
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Team size
                            </div>
                            <div class="project-name">
                                4
                            </div>
                        </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
