<section id="skills" class="team features">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">     
                <h2 class="section-heading">My Skills</h2>   
                <hr class="primary">
                <br>
                                       
            </div>
        </div>
        <div class="row features-block">
          <div class="row">
            <div class="col-lg-1 col-lg-offset-2 features-text wow fadeInLeft">
              <p>Unity & C#</p>
            </div>
            <div class="col-lg-7 features-text wow fadeInLeft">
                <div class="progress progress-bar-default">
                    <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar">
                        <span class="sr-only">70% Complete (success)</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1 col-lg-offset-2 features-text wow fadeInLeft">
              <p>Problem Solving</p>
            </div>
            <div class="col-lg-7 features-text wow fadeInLeft">
                <div class="progress progress-bar-default">
                    <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class="progress-bar">
                        <span class="sr-only">80% Complete (success)</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1 col-lg-offset-2 features-text wow fadeInLeft">
              <p>Communication</p>
            </div>
            <div class="col-lg-7 features-text wow fadeInLeft">
                <div class="progress progress-bar-default">
                    <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar">
                        <span class="sr-only">70% Complete (success)</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1 col-lg-offset-2 features-text wow fadeInLeft">
              <p>UI/UX</p>
            </div>
            <div class="col-lg-7 features-text wow fadeInLeft">
                <div class="progress progress-bar-default">
                    <div style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="progress-bar">
                        <span class="sr-only">50% Complete (success)</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
<br><br><br>
</section>